Package: xyz.isantop.repoman
Source: repoman
Version: 0.0.6
Architecture: amd64
Maintainer: Ian Santopietro <ian@system76.com>
Installed-Size: 251
Depends: python3, python-requests, pop-shop, software-properties-common
Section: x11
Priority: extra
Description: Repoman
 Hey man, let's go do crimes. Yeah, let's install software and not pay.
