Source: repoman
Section: x11
Priority: extra
Maintainer: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 10),
               dh-python,
               python3-all,
               software-properties-common,
               gir1.2-gtk-3.0,
               libflatpak-dev,
Standards-Version: 3.9.3
X-Python3-Version: >= 3.4

Package: repoman
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
         software-properties-common,
         gir1.2-gtk-3.0,
         python-requests,
Description: Repoman
 Hey man, let's go do crimes. Yeah, let's install software and not pay.

