Source: repoman
Section: x11
Priority: extra
Maintainer: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 10),
               libgtk-3-dev,
               libgranite-dev,
               dh-python,
               python-all,
               python-setuptools,
               software-properties-common
Standards-Version: 3.9.3

Package: xyz.isantop.repoman
Architecture: any
Depends: python3,
         python-requests,
         pop-shop,
         software-properties-common
         ${misc:Depends},
         ${shlibs:Depends}
Description: Repoman
 Hey man, let's go do crimes. Yeah, let's install software and not pay.
