Package: repoman
Version: 0.0.6
Architecture: all
Maintainer: Ian Santopietro <ian@system76.com>
Installed-Size: 97
Depends: python3:any (>= 3.4~), software-properties-common, gir1.2-gtk-3.0, python-requests
Section: x11
Priority: extra
Description: Repoman
 Hey man, let's go do crimes. Yeah, let's install software and not pay.
