[Desktop Entry]
Name=PPA Extender
GenericName=PPAExtender
Comment=Easily manage PPA
Categories=Development;
Exec=com.github.mirkobrombin.ppaextender
Icon=com.github.mirkobrombin.ppaextender
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.mirkobrombin.ppaextender
Keywords=Python;
