.inline-toolbar button.flat {
	border-radius: 9999px;
	border: none;
	background-color: transparent;
	background-image: none;
	box-shadow: none;
	-gtk-outline-radius: 9999px;
}

.inline-toolbar button.flat:hover {
	background-color: alpha(@theme_fg_color, 0.2);
}

#Title {
	padding-top: 50px;
	font-size: 18px;
	padding-bottom: 5px;
}
#Description {
	font-size: 10px;	
	padding-bottom: 15px;
}
#Validate {
	color: #0066cc;
	padding-top: 10px;
	font-weight: bold;
}
#Validate.success {
	color: #009933;
}
#Validate.error {
	color: #ff3300;
}

separator {
  color: transparent;
  background-color: transparent;
}
