[Desktop Entry]
Name=Repoman
GenericName=Repoman
Comment=Easily manage PPA
Categories=System;
Exec=/usr/lib/repoman/xyz.isantop.repoman.pkexec
Icon=x-system-software-sources
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=xyz.isantop.repoman
Keywords=Python;
