Package: com.github.mirkobrombin.ppaextender
Version: 0.0.1
Architecture: amd64
Maintainer: Mirko Brombin <brombinmirko@gmail.com>
Installed-Size: 220
Depends: python3, python-requests
Section: x11
Priority: extra
Description: PPA Extender
 Easily manage PPA
